html, body {
  overflow-x:hidden;
}

body {
  font-family: "Lora", serif;
  color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
}

h1 {
  font-size: 60px;
  margin: 0px;
}
h2 {
  font-size: 32px;
  font-weight: normal;
}
p {
  font-size: 24px;
  line-height: 29px;
  font-weight: 100;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

li {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}



/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}


.one-half, .one-third {
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin: 0 2% 20px;
}

 @media (min-width: 768px) {
   .container {
     width: 750px;
   }
 }
 @media (min-width: 992px) {
   .container {
     width: 970px;
   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container {
     width: 1170px;
   }
 }

 /* HEADER */

/*header {
color:#ffffff;
 }
 header nav {
  opacity: 0.68;
background: #383838;
   padding:1em 0;
 }
 header nav ul {
   display:inline;
   text-align: right;
   float:right;
   margin:0;
 }
 header nav ul > li {
   list-style-type: none;
   display: inline-block;
   margin:0 15px;
 }
 header nav ul > li.btn-outline {
   padding:10px 15px;
   border:2px solid #FFFFFF;
   border-radius: 4px;
 }
 header nav ul > li.btn-outline:hover {
   background:#FFFFFF;
 }
 header nav ul > li > a {
   color:#FFFFFF;
   text-decoration: none;
 }
 header nav ul > li.btn-outline:hover > a {
   color:#34495E;
 }
 header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
 header .hero p {
   font-size: 22px;
   line-height: 26px;
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 } */

  /* BUTTONS */
 .btn {
   border-radius: 4px;
   font-family: Montserrat-Regular;
font-size: 18px;
color: #FFFFFF;
line-height: 19.2px;
   color:#FFFFFF;
   text-decoration: none;
   padding:10px 30px;
   background: #80C2AF;
border-radius: 8.39px;
 }

 .header {
   height: 135px;
   width: 100%;
   background-color: #383838;
   opacity: 0.68;
}

  .hero_text {
    background-image: url("../images/Hero_Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 798px;
    width: 100%;
  }
 }

 .hero {
   position: absolute;
   z-index: 0;
   left: 0px;
   top: 0px;
   margin-bottom: 0px;
   text-transform: none;
 }

 .navlogo {
   width: 10%;
   float: left;
   text-align: center;
 }

 .leftnav/*, .rightnav*/ {
   width: 40%;
   float: left;
 }

 .rightnav {
   width: 40%;
   float: right;
 }

 ul.rightnav {
   list-style-type: none;
   margin: 0px;
   -webkit-padding-start: 0px;
   -webkit-padding-end: 5%;

 }

 ul.leftnav {
   list-style-type: none;
   margin: 0px;
   -webkit-padding-start: 5%;

 }

 ul.rightnav {
   list-style-type: none;
   margin: 0px;

 }

 ul.leftnav li {
   display: block;
   font-family: Montserrat, sans-serif;
   float: left;
   padding: 60px 20px;
   overflow: hidden;
 }

 ul.rightnav li {
   display: block;
   font-family: Montserrat, sans-serif;
   float: right;
   padding: 50px 20px;
   overflow: hidden;
 }

 /*ul.leftnav li:hover {
   background-color: #111;
 }*/


 ul.leftnav li a {
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 11px;
   text-transform: uppercase;
   text-decoration: none;
   float: left;
 }

 .navbar_logo {
   width: 67px;
   height: 70px;
   background-image: url('../images/Pouch Logo_Header.png');
   background-position: 0px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   opacity: 1;
   text-align: center;
   display: inline-block;
   margin-top: 30px;
 }

.navbar {
  height: 134px;
}


 .navigations {
   position: absolute;
   top: -16px;
   right: 0px;
   bottom: -16px;
   display: inline-block;
   overflow-x: visible;
   overflow-y: visible;
   max-width: 0px;
   margin-top: 32px;
   margin-right: 48px;
   margin-left: 0px;
   padding-right: 64px;
   padding-bottom: 20px;
   padding-left: 20px;
   float: none;
   clear: none;
 }
 .sign_links {
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 11px;
   font-weight: 400;
   text-transform: uppercase;
 }

 .sign-up_btn {
   width: auto;
   height: 28px;
   border: 1px none black;
   border-radius: 5.59px;
   background-color: #80c2af;
   font-family: Montserrat, sans-serif;
   font-size: 11px;
   line-height: 12px;
   text-transform: uppercase;
   opacity: 1;
 }

.div_hero {
text-align: center;
padding-top: 120px;
}
p .div_hero {
  margin-bottom: 20px;
}

 .h1_hero {
   position: relative;
   left: 235px;
   top: 128px;
   right: 235px;
   display: inline;
   width: 600px;
   height: 100px;
   max-width: 0px;
   margin-right: auto;
   margin-bottom: 9px;
   margin-left: auto;
   padding-right: 0px;
   padding-left: 0px;
   float: none;
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 50px;
   font-weight: 400;
   text-align: center;
 }
 .notes {
   display: block;
   /*hard coded values get kittens killed*/
   /*height: 570px;*/
   background-image: -webkit-radial-gradient(50% 50%, circle, #80c2af 49%, #76b5a3);
   background-image: radial-gradient(circle at 50% 50%, #80c2af 49%, #76b5a3);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
 }

  .btn_benefit {
   background: rgba(0,0,0,0.04);
   border-radius: 10px;
   border: 1px none black;
   font-family: Montserrat, sans-serif;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   text-decoration: none;


 }


.store {
  float: left;
  display: block;
  width: 100%;
}

 .store, .power {
   /*padding: 100px 0px;*/
   display: block;
   float: left;
   width: 100%;
 }

 .power {
   margin-bottom: 200px;
 }

.store h2, .power h2 {
  font-family: Montserrat-Regular;
  font-size: 36px;
  color: #80C2AF;
  line-height: 44px;
  margin-left: 210px;
  margin-top: 100px;
}

 .power h2 {
   margin-top: 100px;
 }


 .store p, .power p {
   font-family: Lora-Regular;
   font-size: 24px;
   color: #777A7F;
   line-height: 30px;
   margin-left: 210px;
 }

 .power h2, .power p {
   margin-left: 50px;
 }

 /*.power {
   padding-top: 200px;
 }
.benefit-text {
  width: 60%;
  margin: 0 auto;
  padding: 100px;
  /*This margin 100px was causing a problem for the elements */
  /*margin: 100px auto;*/

}
  .power p {
  font-family: Lora-Regular;
  font-size: 24px;
  color: #777A7F;
  line-height: 30px;
  margin-right: 210px;
}

.benefit-text {
  width: 60%;
  margin: 100px auto;

}

  .everywhere {
    z-index: 0;
    text-align: center;

  }

  #everywhere-image {
    margin-top: -450px;
    margin-left: 10%;
    width: 80%;
    position: absolute;
    text-align: center;
    z-index: 1;
    padding-bottom: 300px;
  }

  .everywhere h1 {
    color: #333;
  }


  .benefits2 {
    /*padding: 150px 0px 500px 0px;*/
    padding: 100px 0px;
    width: 100%;
    display: inline-block;
    background-image: radial-gradient(50% 100%, #F8F8F8 50%, #EBEBEB 100%);
  }

  #imac-position, #pocket-position {
    margin: 0 0 0 0;
    float: right;
  }

  #pocket-position {
    width: 35%;
    float: left;
    padding-left: 10%;
    margin-top: 100px;
  }

 .arrow {
   text-align: center;
   padding-top: 40px;
 }

 .images {
   /*position: relative;
   left: 0px;
   top: 943px;
   right: 0px;
   bottom: 0px;*/
   display: block;
   height: 570px;
   background-image: -webkit-radial-gradient(50% 50%, circle, #f5a623 50%, #e2991f 98%);
   background-image: radial-gradient(circle at 50% 50%, #f5a623 50%, #e2991f 98%);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
 }
 .links {
   /*position: relative;
   left: 0px;
   top: 917px;
   right: 0px;*/
   display: block;
   height: 570px;
   margin-top: 0px;
   background-image: -webkit-radial-gradient(50% 50%, circle, #777a7f 51%, #5f6166 98%);
   background-image: radial-gradient(circle at 50% 50%, #777a7f 51%, #5f6166 98%);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
 }
 .h3 {
   font-family: Lato, sans-serif;
   font-weight: 400;
 }
 .btn {
   width: auto;
   border: 1px none black;
   border-radius: 5.59px;
   background-color: #80c2af;
   font-family: Montserrat, sans-serif;
   font-size: 11px;
   line-height: 12px;
   text-transform: uppercase;
 }

 .white_space {
   padding: 100px 0;
   color: #333;
   background-color: #fff;
   width: 100%;
   text-align: center;
 }

 .white_space h3 {
   margin-top: 100px;
   color: #333;
 }

 .testimonials {
   /*you were missing the leading slash here*/
   background-image: url("../images/Testimonial_Image.png");
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   z-index: 0;
   text-align: center;
   padding-top: 100px;
   margin-top: auto;
 }

/*pricing section work here*/

 .pricing {
   display: block;
   width: 100%;
   /*another evil hard-coded height value*/
   /*height: 1186px;*/
   background: #EB7B58;
   background-repeat: repeat-x;
   /*not sure why this was here*/
   /*box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);*/
   text-align: center;
   text-decoration: none;
   padding: 50px 0;
 }

 .pricing .container {
   z-index: 1;
 }

 .pricing ul {
   list-style-type: none;
   padding: 30px 0 0 0;
 }

 /*this class gives your background elements something to push against without having to measure from the top of the page. this is important because if limits your responsive concerns to only this section of the page*/
 .lock {
   position: absolute;
   display: block;
   width: 100%;
 }

 .price-right, .price-mid, .price-left {
   position: absolute;
   display: block;
   height: 60px;
   width: 38%;
   top: 405px;
   background-color: #ffffff;
   text-align: center;
 }

 .price-left {
   left: 0;
 }

 .price-mid {
   left: calc(50% - 210px);
   border: 10px solid #EB7B58;
   width: 400px;
   top: 418px;
   z-index:1;
 }

 .price-right {
   right: 0;
 }

 .price-right-expert {
   padding-bottom: 13px;
 }

 .banner_text {
   color: #4A4A4A;
 }

 /*.price_btn {
   width: 80%;
 }*/

 .testimonial_header {
   color: #EB7B58;
 }

 .footer {
   display: block;
   height: 100px;
   width: 100%;
   background: #383838;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
 }

 .footer_nav {
   /*height: 100px;*/
 }

 .footer_nav_links {
   width: 40%;
   float: left;
   /*padding-left: 20px;*/
 }

 ul.footer_nav_links {
   list-style-type: none;
   margin: 0px;
   /*-webkit-padding-start: 5%;*/
 }

 ul.footer_nav_links li {
   /*display: block;*/
   font-family: Montserrat, sans-serif;
   float: left;
   /*padding: 60px 20px;*/
   overflow: hidden;
 }

 ul.footer_nav_links li a {
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 11px;
   text-transform: uppercase;
   text-decoration: none;
   float: left;
 }

  li .copyright-block {
  text-decoration: none;
 }

.testimonial_p {
  margin-left: 200px;
  margin-right: 200px;
}

ul .Stella {
  text-align: left;
}
