.mobile_nav {
  display: none;
  width: 100%;
  background-color: #ececec;
  /*border-radius: 10px;*/
  margin-top: -2px;
  z-index: 2;
  float: right;
}

.mobile_nav ul, .home_mobile_nav ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;

}

.mobile_nav li a {
  display: block;
  font-family: Montserrat, sans-serif;
  color: grey;
  font-size: 20px;
  text-decoration: none;
  padding: 20px 25px;
}

.mobile_nav li a:hover {
  background-color: #dadada;
}



.home_mobile_nav {
  display: none;
  width: 100%;
  background-color: #fafafa;
  opacity: 5;
  /*border-radius: 10px;*/
  margin-top: -1px;
  z-index: 2;
  float: right;
  text-transform: uppercase;
  color: #383838;
}

  .home_mobile_nav li a {
  display: block;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #383838;
  /*^ for some reason the color isn't holding?*/
  font-size: 16px;
  text-decoration: none;
  text-decoration-style: none;
  text-decoration-color: none;
  padding: 20px 25px;
}

.home_mobile_nav li a:hover {
  background-color: #383838;
  color: #fafafa
}


.hide, .navhide, .add_circle {
  display: none;
}

.dashboard_logo {
  float: right;
  z-index: 1;
  margin-top: -16px;
}

a.mobile_nav_target {
  text-align: center;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  padding: 6px 30px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
  float: left;
}

.home_mobile_nav_target {
  text-align: center;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  padding: 6px 30px;
  overflow: hidden;
  text-decoration: none;
  color: #ffffff;
  float: right;
  margin-top: 50px;
}


 .navbar_logo {
   width: 67px;
   height: 70px;
   background-image: url('../images/Pouch Logo_Header.png');
   background-position: 0px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   opacity: 1;
   text-align: center;
   display: inline-block;
   margin: 30px 0 0 20px;
 }


 html, body {
   overflow-x:hidden;
   background-color: #fafafa;

 }

 body {
   font-family: "Lora", serif;
   color: #ffffff;
 }
 h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat", sans-serif;
   color: #ffffff;
   font-weight: normal;
 }

 h1, .h1_signup {
   font-size: 60px;
   margin: 0px;
   font-weight: normal;
 }
 h2 {
   font-size: 32px;
   font-weight: normal;
 }

 p {
   font-size: 22px;
   line-height: 30px;
   font-weight: normal;
 }


 a {
   font-family: "Montserrat", sans-serif;
   font-size: 12px;
 }

 li {
   font-family: "Montserrat", sans-serif;
   font-size: 18px;
 }



@media (min-width: 768px) {
  .dashboard_logo {
    float: left;
    z-index: 1;
    margin-top: -0px;
  }


/*Why doesnt this work below?? Had to implement it in outside .navbar_logo code*/
/*.navbar_logo {
    margin-left: 20px;

  }*/

  .navbar_logo {
    margin: 30px 0 0 0;
  }



  a.mobile_nav_target {
    display: none;
  }

  a.home_mobile_nav_target {
    display: none;
  }

  .hide {
    display: inline-block;
  }

  .navhide, .add_circle {
    display: block;
  }

  .add_circle {
    border-radius: 50px;
    background-color: #80c2af;
    float: right;
    font-size: 20px;
    padding: 10px 14px;
    margin-top: 29px;
  border: 8px solid #fafafa;
  }

  .dashboard_logo {
    float: left;
    z-index: 1;
    margin-top: -16px;
  }




/*h1  {
    font-size: 30px;*/
  }
}




/* GRID */
.container,  {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  max-width: 80%;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear:both;
}

.one-half, .one-third {
  width:96%;
  float:left;
  position:relative;
  min-height:1px;
  margin: 0 2% 20px;
}

.quote-holder {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.quote-right {
    width: 50%;
    float: right;
}

.quote-left {
  width: 50%;
  float: left;
}

.container_dash {
  margin: 0 auto;
}

 @media (min-width: 768px) {
   .container, .container_dash {
     width: 750px;
     margin: 0 auto;

   }
 }
 @media (min-width: 992px) {
   .container, .container_dash {
     width: 970px;
     margin: 0 auto;

   }
   .one-half {
     width:46%;
   }
   .one-third {
     width:29.33333%;
   }
   .one-fourth {
     width:21%;
   }
 }
 @media (min-width: 1200px) {
   .container, .container_dash {
     width: 1170px;
     margin: 0 auto;
   }
 }

@media (max-width: 768px) {
  .middlenav {
    display: none;
  }

  .new_content p {
    font-size: 16px;
  }

  .home_mobile_nav {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  p .div_hero {
    font-size: 10px;
  }

  a.btn_hero {
    width: 100%;
    font-size: 12px;
  }


}
 /* HEADER */

 .header {
   height: 135px;
   width: 100%;
   background-color: #383838;
   opacity: 0.68;
}

  .hero_text, .hero_text2 {
    background-image: url("../images/Hero_Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 798px;
    width: 100%;
    padding-bottom: 180px;
  }

.hero_text2 {
  background-image: url("../images/blurred header img.png");

}


 .hero {
   position: absolute;
   z-index: 0;
   left: 0px;
   top: 0px;
   margin-bottom: 0px;
   text-transform: none;
 }

 .hero-arrow {
   color: #EB7B58;;
   display: block;
   margin-top: 150px;
 }

 .navlogo {
   width: 10%;
   float: left;
   text-align: center;
 }

 .leftnav/*, .rightnav*/ {
   width: 40%;
   float: left;
 }

 .rightnav {
   width: 40%;
   float: right;
 }

 ul.rightnav {
   list-style-type: none;
   margin: 0px;
   -webkit-padding-start: 0px;
   -webkit-padding-end: 5%;
   padding-right: 0px;


 }

 ul.leftnav {
   list-style-type: none;
   margin: 0px;
   -webkit-padding-start: 5%;

 }

 ul.rightnav {
   list-style-type: none;
   margin: 0px;
   padding-right: 0px;


 }

 ul.leftnav li {
   display: block;
   font-family: Montserrat, sans-serif;
   float: left;
   padding: 60px 20px;
   overflow: hidden;
 }

 ul.rightnav li {
   display: block;
   font-family: Montserrat, sans-serif;
   float: right;
   padding: 50px 20px;
   overflow: hidden;
 }

 ul.rightnav li a {
   text-decoration: none;
 }

 ul.leftnav li a {
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 11px;
   text-transform: uppercase;
   text-decoration: none;
   float: left;
 }
/*
 .navbar_logo {
   width: 67px;
   height: 70px;
   background-image: url('../images/Pouch Logo_Header.png');
   background-position: 0px 0px;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: scroll;
   opacity: 1;
   text-align: center;
   display: inline-block;
   margin-top: 30px;
 }*/

.navbar {
  height: 134px;
}


 .navigations {
   position: absolute;
   top: -16px;
   right: 0px;
   bottom: -16px;
   display: inline-block;
   overflow-x: visible;
   overflow-y: visible;
   max-width: 0px;
   margin-top: 32px;
   margin-right: 48px;
   margin-left: 0px;
   padding-right: 64px;
   padding-bottom: 20px;
   padding-left: 20px;
   float: none;
   clear: none;
 }
 .sign_links {
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 11px;
   font-weight: 400;
   text-transform: uppercase;
 }



 .div_hero {
    text-align: center;
    padding-top: 160px;
    padding-left: 10%;
    padding-right: 10%;

}


  p .div_hero {
    margin-bottom: 20px;
  }

 .h1_hero {
   position: relative;
   left: 235px;
   top: 128px;
   right: 235px;
   display: inline;
   width: 600px;
   height: 100px;
   max-width: 0px;
   margin-right: auto;
   margin-bottom: 9px;
   margin-left: auto;
   padding-right: 0px;
   padding-left: 0px;
   float: none;
   font-family: Montserrat, sans-serif;
   color: white;
   font-size: 50px;
   font-weight: 400;
   text-align: center;
 }
 .notes, .images, .links {
   display: block;
   /*hard coded values get kittens killed*/
   /*height: 570px;*/
   background-image: -webkit-radial-gradient(50% 50%, circle, #80c2af 49%, #76b5a3);
   background-image: radial-gradient(circle at 50% 50%, #80c2af 49%, #76b5a3);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
 }

  .btn_benefit {
    width: 40%;
   background: rgba(0,0,0,0.04);
   color: #fff;
   display: inline-block;
   border-radius: 5px;
   border: 1px none black;
   font-family: Montserrat, sans-serif;
   font-size: 14px;
   line-height: 16px;
   text-transform: uppercase;
   text-decoration: none;
   /*padding: 20px;*/
   padding-top: 100px;
   margin-top: 30px;
   padding: 16px;

 }

 @media (max-width:768px) {
    .btn_benefit {
      width: 100%;
      text-align: center;
    }
 }


.store {
  float: left;
  display: block;
  width: 100%;
  padding-right: 10%;
  padding-left: 10%;

}

 .store, .power {
   /*padding: 100px 0px;*/
   display: block;
   float: left;
   width: 100%;


 }

 .power {
   margin-bottom: 100px;
   padding-right: 30%;
 }

.store h2, .power h2 {
  font-family: Montserrat-Regular;
  font-size: 36px;
  color: #80C2AF;
  line-height: 44px;
}

 .power h2 {
   margin-top: 200px;
 }


 .store p, .power p {
   font-family: Lora-Regular;
   font-size: 24px;
   color: #777A7F;
   line-height: 30px;
   /*margin-left: 210px;*/
 }
 .store p, .store h2 {
   padding-right: 20%;
 }

 .power h2, .power p {
   margin-left: 50px;
 }

 /*.power {
   padding-top: 200px;
 }
.benefit-text {
  width: 60%;
  margin: 0 auto;
  padding: 100px;
  /*This margin 100px was causing a problem for the elements */
  /*margin: 100px auto;*/

}
  .power p {
  font-family: Lora-Regular;
  font-size: 24px;
  color: #777A7F;
  line-height: 30px;
  margin-right: 210px;
}

.benefit-text {
  width: 60%;
  margin: 0px auto;
  padding: 100px 0;
}

  .everywhere {
    z-index: 0;
    text-align: center;

  }

  #everywhere-image {
    margin-top: -500px;
    margin-left: 10%;
    width: 80%;
    position: absolute;
    text-align: center;
    z-index: 1;
    padding-bottom: 300px;
  }

  .everywhere h1 {
    color: #333;
    margin-bottom: 450px;
  }


  .benefits2 {
    /*padding: 150px 0px 500px 0px;*/
    padding: 100px 0px;
    width: 100%;
    display: inline-block;
    background-image: radial-gradient(50% 100%, #F8F8F8 50%, #EBEBEB 100%);
    padding-bottom: 180px;
  }

  #imac-position, #pocket-position {
    margin: 0 0 0 0;
    float: right;
    position: relative;
  }

  #pocket-position {
    width: 35%;
    float: left;
    padding-left: 10%;
    margin-top: 100px;
  }

 .arrow {
   text-align: center;
   padding-top: 10px;
 }


 .images {
   background-image: -webkit-radial-gradient(50% 50%, circle, #f5a623 50%, #e2991f 98%);
   background-image: radial-gradient(circle at 50% 50%, #f5a623 50%, #e2991f 98%);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
 }

  .links {
    background-image: radial-gradient(50% 50%, #777A7F 50%, #5F6166 100%);
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50), inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    text-align: center;
 }

 .s {
   /*position: relative;
   left: 0px;
   top: 917px;
   right: 0px;*/
   display: block;
   /*height: 570px;*/
   margin-top: 0px;
   background-image: -webkit-radial-gradient(50% 50%, circle, #777a7f 51%, #5f6166 98%);
   background-image: radial-gradient(circle at 50% 50%, #777a7f 51%, #5f6166 98%);
   box-shadow: rgba(0, 0, 0, 0.49) 0px 1px 3px 0px inset;
   text-align: center;
   padding-top: 0px;
 }
 .h3 {
   font-family: Lato, sans-serif;
   font-weight: 400;
 }
 .signup_btn {
   width: auto;
   border: 1px none black;
   border-radius: 5px;
   background-color: #80c2af;
   font-family: Montserrat, sans-serif;
   font-size: 11px;
   line-height: 12px;
   text-transform: uppercase;
   color: #fff;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-left: 20px;
   padding-right: 20px;

 }

 a.btn_hero, .btn, .price_btn {
   width: 25%;
   border: 1px none black;
   border-radius: 5px;
   background-color: #80c2af;
   color: #fff;
   display: inline-block;
   font-family: Montserrat, sans-serif;
   font-size: 16px;
   line-height: 12px;
   padding-top: 100px;
   margin-top: 30px;
   padding: 18px;
   text-decoration: none;
   text-transform: uppercase;
 }

 a.btn_hero {
   text-align: center;
   display: block;
   margin: 0 auto;
   width: 40%;
}

@media (max-width:768px) {
  a.btn_hero  {
    width: 80%;
    display: block;
    text-align: center;
    margin-top: 10%;
  }
}

 .price_btn {
   width: 68%;
 }

 .white_space {
   padding: 60px 0 100px 0;
   color: #333;
   background-color: #fff;
   width: 100%;
   text-align: center;
 }

 .white_space h3 {
   margin-top: 100px;
   color: #333;
 }

 .testimonials {
   /*you were missing the leading slash here*/
   background-image: url("../images/Testimonial_Image.png");
   background-size: cover;
   background-repeat: no-repeat;
   height: 600px;
   z-index: 0;
   text-align: center;
   padding-top: 100px;
   margin-top: auto;
 }

 .testimonial_text {
   display: inline-block;
 }

 .testimonial_arrow2 {
   float: right;
   margin-right: 3%;
   margin-top: 30vh;
   /*margin-bottom: 200px;*/
   display: block;
}

 .testimonial_arrow {
   float: left;
   margin-left: 3%;
   margin-top: 30vh;

   /*margin-top: 200px;*/
   display: block;

 }

/*pricing section work here*/

 .pricing {
   display: block;
   width: 100%;
   /*another evil hard-coded height value*/
   /*height: 1186px;*/
   background: #EB7B58;
   background-repeat: repeat-x;
   /*not sure why this was here*/
   /*box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50);*/
   text-align: center;
   text-decoration: none;
   padding: 50px 0;
 }

 .pricing .container {
   z-index: 1;
 }

 .pricing ul {
   list-style-type: none;
   padding: 30px 0 0 0;
 }

 /*this class gives your background elements something to push against without having to measure from the top of the page. this is important because if limits your responsive concerns to only this section of the page*/
 .lock {
   position: absolute;
   display: block;
   width: 100%;
 }

 .price-right, .price-mid, .price-left {
   position: absolute;
   display: block;
   height: 60px;
   width: 38%;
   top: 405px;
   background-color: #ffffff;
   background-color: white;
   text-align: center;
 }

 .price-left {
   left: 0;
 }

 .price-mid {
   left: calc(50% - 210px);
   border: 10px solid #EB7B58;
   width: 400px;
   top: 418px;
   z-index:1;
 }

 .price-right {
   right: 0;
 }

 .price-right-expert {
   padding-bottom: 13px;
 }

@media (max-width:768px) {
   .lock {
     display: none;
  }
 }

 .banner_text, .banner_text_PRO {
   color: #4A4A4A;
 }

 .banner_text_PRO {
   display: block;
   position: relative;
   z-index: 5;
 }

 /*.price_btn {
   width: 80%;
 }*/

 .testimonial_header {
   color: #EB7B58;
 }

 .footer, .footer2 {
   display: block;
   height: 100px;
   width: 100%;
   background: #383838;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
   z-index: 1;
   bottom: 0;
   /*position: absolute;*/
 }

.footer2 {
  position: absolute;
}

 .footer_nav {
   /*height: 100px;*/
 }

 .footer_nav_links {
   width: 40%;
   float: left;

   /*padding-left: 20px;*/
 }

 ul.footer_nav_links {
   list-style-type: none;
   margin: 0px;
   float: left;

   /*-webkit-padding-start: 5%;*/
 }

 ul.footer_nav_links li {
   /*display: block;*/
   font-family: Montserrat, sans-serif;
   float: left;
   /*padding: 60px 20px;*/
   overflow: hidden;
 }

 ul.footer_nav_links li a {
   font-family: Montserrat, sans-serif;
   /*color: white;*/
   font-size: 11px;
   text-transform: uppercase;
   text-decoration: none;
   float: left;
   display: inline-block;
 }

  /*.copyright-block li  {
  text-decoration: none;
  font-size: 12px;
  list-style: none;
  float: left;
  display: inline-block;
 }*/

 .copyright li{
   text-decoration: none;
   font-size: 14px;
   list-style: none;
   /*float: left;*/
   display: block;
 }

 .copyright ul {
   padding: 0px;
   margin: 0px;

 }

.testimonial_p {
  /*margin-left: 200px;
  margin-right: 200px;*/
}

ul .Stella {
  text-align: left;
}

.social {
  float: right;
  padding-right: 100px;
}


/*DASHBOARD*/

html, body .DASHBOARD  {
background-color: #fafafa;
}

.dashboard_icons {
  margin: 0 auto;
}

.dashboard_header {
  background: #777A7F;
  box-shadow: 0px 5px 0px 0px #F5A623;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 2;

}

/*.dashboard_logo {
  float: left;
  z-index: 1;
  margin-top: -16px;
}*/

.dashboard_footer {
  background: #777A7F;
  width: 100%;
  height: 70px;
  /*display: block;*/
  position: fixed;
  bottom: 0;
}


.dashboard_footer h4 {


}

.dashboard_footer h5, a {

}

/*.add_circle {
  border-radius: 50px;
  background-color: #80c2af;
  display: block;
  float: right;
  font-size: 20px;
  padding: 10px 14px;
  margin-top: 29px;
  border: 8px solid #fafafa;
}*/

a.add_circle {
  color: #fff;
}

.blank_state {
 margin-top: 120px;
 /*margin-left: 200px;*/
}

.blank_state h3 {
color: #4A4A4A;
margin-left: 80px;
}

.blank_state fa fa-th {
/*font-size: 20px;*/
/*line-height: 20px;*/
background-image: radial-gradient(50% 45%, #F5A623 50%, #EB7B58 100%);
margin-left: 200px;
}

.ngozi_small {
  /*margin-left: 200px;*/
  margin-top: -45px;
}

.ADD {
  float: right;
  margin-top: 37px;

}

.GEAR {
  float: right;
  margin-top: -185px;
}

ul.rightnav_dsh  {
  text-align: center;
  padding-left: 0;
}

ul.rightnav_dsh li {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  padding: 6px 30px;
  overflow: hidden;
}

ul.rightnav_dsh li a {
  text-decoration: none;
  color: #ffffff;
}

.center {
  margin: 0 auto;
  width: 50%
}

.icons {
  width: 100%;
  float: left;
}

ul.middlenav {
  text-align: center;
  list-style: none;
  color: #333;
  padding-left: 0px;
}

ul.middlenav li {
  display: inline-block;
  padding: 30px;
}

ul.middlenav li svg {
  margin-top: 10px;
}

svg {
  /*color: #333;*/
  /*display: inline-flex;*/
  width: 43px;
  height: 43px;
  margin-top: 10px;
  display: inline-block;
  /*border: 1px solid #333;*/
  /*fill: red;*/
}

.svglogo {
  color: #333;
  border: 10px solid green;
}

/*ul.rightnav_dsh, ul.middlenav  {
  text-align: center;
}

ul.rightnav_dsh li {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  padding: 6px 30px;
  overflow: hidden;
}*/


.new_content {
  border: 3px dashed #ececec;
  /*#EDD08C*/
  border-radius: 21px;
  /*margin-left: 200px;*/
  /*margin-right: 200px;*/
  /*height: 70px;*/
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  padding-left: 40px;
  padding-right: 40px;

}

.new_content p {
  color: #4a4a4a;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 768px) {

  .div_hero {
    text-align: center;
    padding-top: 160px;
    width: 70%;
    margin: 0 auto;
  }


  .new_content {
    border: 3px dashed #ececec;
    border-radius: 21px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .new_content p {
    color: #4a4a4a;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    font-size: 22px;
    line-height: 30px;
  }
}


.DragDrop {
  color: #F9B42D;
}

/*Sign Up*/

.sign-up {
background: #FAFAFA;
border-radius: 14px;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 420px;
margin-right: 420px;
}

.h1_signup {
  color: #383838;
}

.input {
border: 1px solid #979797;
border-radius: 7px;
width: auto;
text-align: left;
font-family: Lora-Regular;
font-size: 12px;
color: rgba(119,121,127,0.50);
line-height: 14px;
}

.mini {
font-family: Lora-Regular;
font-size: 10px;
color: #4A4A4A;
line-height: 12px;
}

.twitter_right, .facebook_left {
  position: absolute;
  display: block;
  height: 60px;
  width: 50%;
  top: 405px;
  background-image: radial-gradient(50% 50%, #54ABEE 50%, #4FA0DE 100%);
  text-align: center;
}

.facebook_left {
  background-image: radial-gradient(50% 50%, #3853A4 50%, #39568B 100%);
}
